@import '../../style/variables'
@import '../../style/mixins'

// Breadcrumb
//
// Menu that shows the location of current page in a site navigation context


// Component
// --------------------------------------------------
.breadcrumb
  font-size: 12px
  line-height: normal
  color: $gray-base
  padding:
    top: 32px
    bottom: 32px
  +breakpoint(tablet)
    font-size: 16px
    line-height: 22px


// Elements
// --------------------------------------------------
.breadcrumb_container
  +container

.breadcrumb__item
  display: inline
  text-decoration: none
  color: $gray-base

  &:last-of-type
    color: $gray-dark
